body {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
}

.container {
    background-color: #146B3A;
    border-radius: 25px;
    padding: 20px;
}

.nisse {
    width: 100%;
}

button {
    color: white;
  border: 0;
  border-radius: 30px;
  outline: none;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  padding: 7px 16px;
  cursor: pointer;
  background: green;
}